body {
    margin: 50px;
    padding: 50px 100px;
    border: 1px solid black;
    background-color:powderblue;
}
img{
    width:100% ;
}
.textoCentrado {
    text-align:center ;
}
.textoRojo{
    color:red;  
}
